<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

<body>
<form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Department Name:</label>
    <div class="col-sm-4">
        <input type="text" name="dep_name" id="id_name" required maxlength="20" value="{{ department.dep_name }}"/>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">department Discription:</label>
    <div class="col-sm-4">
        <input type="text" name="dep_discription" id="dep_discription" required maxlength="254" value="{{ department.dep_discription }}" />
    </div>
  </div>


    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>