<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department Records</title>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Department Name </th>
        <th> Department Discription </th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for department in departments %}
    <tr>
        <td>{{ department.dep_name }}</td>
        <td>{{ department.dep_discription }}</td>

        <td>
            <a href="/depedit/{{ department.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/depdelete/{{ department.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/depview" class="btn btn-primary">Add New Department</a></center>
</body>
</html>